.poketype-normal { color: #7a7952; }
.poketype-fire { color: #e96d0e; }
.poketype-water { color: #577ed4; }
.poketype-electric { color: #F7D02C; }
.poketype-grass { color: #52912e; }
.poketype-ice { color: #96D9D6; }
.poketype-fighting { color: #C22E28; }
.poketype-poison { color: #A33EA1; }
.poketype-ground { color: #efcf7d; }
.poketype-flying { color: #7f6cb3; }
.poketype-psychic { color: #F95587; }
.poketype-bug { color: #79851e; }
.poketype-rock { color: #726521; }
.poketype-ghost { color: #735797; }
.poketype-dragon { color: #6F35FC; }
.poketype-dark { color: #705746; }
.poketype-steel { color: #d8d3ff; }
.poketype-fairy { color: #D685AD; }